@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap'); /*impostação fontes */

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-primary /*variavel para ser reutilizada em qualquer situação*/: #ffc500;
    --default-padding: 1rem
}

body {
    margin: 0;
    padding-top: 7.75rem;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}


.navbar { /*link para classe sempre utiliza ponto*/
    position: fixed;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    top: 0;
    left: 0;
    padding: var(--default-padding), 1.5rem;
    width: 100vw;
    height: 7.75rem;
    background-color: #000; 
    color: #fff;
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    margin-right: 3rem;
    font-size: .875rem;
    text-transform: uppercase;
}

.navbar__links a {
    color: #fff;
    text-decoration: none;
    
}

.navbar__links a:hover /*utilizado para sombras*/ {
    color: var(--color-primary);
}

.logo-studion {
    margin: var(--default-padding);
    font-size: 2.375rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1ch; /*relativo ao tamanho da altura do glifo 0 da fonte*/
    text-align: right;
}

.logo-studion__subtitle {
    font-size: .875rem;
    font-weight: 300;
}

.copy--primary {
    color: var(--color-primary);
}

#slider {
    background-color: #000;
    color: #fff;
}

.slide {
    position: relative;
    height: calc(100vh - 7.75rem);
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide__copy {
    position: absolute;
    top: 6.25rem;
    left: 50vw;
}

.slide__copy h6 {
    font-size: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1875rem;

}

.slide__copy h2 {
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}

.slide__copy h2 span {
    display: block;
}

.btn {
    cursor: pointer;
    padding: 1.25rem 2.5rem;
    border: .125rem solid #fff;
    border-radius: 5rem;
    color: var(--color-primary);
    background: unset;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s all ease;
    
}

.btn:hover,
.btn:active
.btn:focus {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
    
}