@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /*impostação fontes */

* {
    box-sizing: border-box;
}

:root {
    --color-primary /*variavel para ser reutilizada em qualquer situação*/: #ffc500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

body {
    margin: 0
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

li {
    margin-right: .625rem;
}

.navbar { /*link para classe sempre utiliza ponto*/
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0rem 1.5rem;
    width: 100vw;
    background-color: #000; 
    color: #fff;
}

.navbar__links {
    justify-self: end;
}

.navbar__links a {
    color: #fff;
    text-decoration: none;

}

.navbar__links a:hover /*utilizado para sombras*/ {
    color: var(--color-primary);
}


